* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Verdana";
    color: rgb(0, 0, 0);
  }
  
  header {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  
  header div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  header .paginas {
    justify-content: flex-end;
  }
  
  .paginas a {
    margin: 1rem;
  }
  
  .imgLogo {
    display: flex;
  }
  
  .imgLogo img {
    height: 7rem;
  }
  
  .buscador button, .buscador input {
    padding: 0.6rem;
    border: 1px solid rgb(66, 187, 96) !important;
  }
  
  .buscador button {
    background-color: rgb(66, 187, 96) !important;
    color: rgb(14, 1, 1);
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
  }
  
  .buscador input {
    color: rgb(17, 17, 17);
    border-radius: 0.5rem 0 0 0.5rem;
  }
  
  .navegador p, .navegador a {
    color: rgb(12, 12, 12);
    margin: 0.5rem;
    text-transform: uppercase;
    text-align: end;
  }

  
  header a {
    text-decoration: none;
    color: rgb(131, 42, 119);
    align-self: center;
  }
  
  .buscador, .navegador, .imgLogo {
    width: 500px;
    justify-content: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-family: "Verdana";
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;
    width: 100%;
  }

  h2 {
    font-family: "Verdana";
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;
    width: 100%;
  }

  h3 {
    font-family: "Verdana";
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }

  h5 {
    font-family: "Verdana";
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
    width: 100%;
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    min-height: 60vh;
    border-radius: 0.5rem;
    cursor: crosshair;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 6px rgb(68, 67, 67);
    margin: 2px;
    border: solid 1px rgb(8, 3, 1);
    
  }

  .formulario{
    margin: auto;
    width: 500px;
    padding: 1em;
    border-radius: 1em;
    background: rgb(0, 0, 0,0.3);
    box-sizing: border-box 10px 20px;
    border: 1px solid #CCC;
  
}
  
  .tituloInicio {
    align-self: center;
    font-family: "Verdana";
  }
  
  .card-producto {
    width: 15rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-producto img {
    object-fit: contain;
    border-radius: 0.3rem;
    width: 240px;
    height: 377px;
    cursor: crosshair;
  }
  
  .card-producto div {
    margin-top: 2rem;
  }
  
  .card-producto div button, .card-producto div input {
    padding: 0.6rem;
    border: 1px solid rgb(7, 7, 7);
  }
  
  .card-producto div button {
    background-color: rgb(66, 187, 96) !important;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem 0.5rem;
    cursor: pointer;
  }
  
  .card-producto div input {
    color: rgb(0, 0, 0);
    border-radius: 0rem;
    color: rgb(0, 0, 0);
  }
  
  .card-carrito {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 0.5rem;
  }
  
  .card-carrito:first-of-type {
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 2rem;
  }
  
  
  .card-carrito img {
    width: 10%;
    object-fit: contain;
    
  }
  
  .total-carrito {
    width: 80%;
    text-align: center;
    margin: 2rem;
  }

  .sinStock {
    align-self: center;
    display: flex;
  }
  
  .btn-confirmacion {
    background-color: rgb(66, 187, 96) !important;
  }
  
  .finalizarCompra {
    background-color: rgb(66, 187, 96) !important;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    min-width: 10rem;
  }
  
  .eliminarCarrito {
    background-color: rgb(216, 38, 38);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    min-width: 10rem;
  }

  footer {
    text-align: center;
     background-color: rgb(255, 255, 255); 
      height: 9vh;
      font-family: "Verdana";
}
